.HomeDiv {
  margin: 1rem 2rem;
  justify-content: center;
  align-items: center;
  display: flex !important;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  width: auto;
}
.searchLogo {
  align-self: center;
  margin: 0 1rem 0 0;
}
.navIcons {
  margin: auto 1rem;
}
.search-city,
.search-fulltime {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
